*.pyc
*.egg-info
.installed.cfg
.pydevproject
.pydevproject.bak
.settings
.coverage
.externalToolBuilders
develop-eggs
dist
eggs
include
lib
local
parts
bin/activate*
bin/buildout
bin/coverage
bin/easy_install*
bin/nosetests
bin/nosetests-*
bin/pip
bin/pip-*
bin/py
bin/python
